@import "helpers/reset"
<% if (sprites.indexOf('iconfont') > -1 ) { %>@import "generated/iconfont"<% } %>
<% if (sprites.indexOf('svg') > -1 ) { %>@import "generated/sprite-svg"<% } %>
<% if (sprites.indexOf('png') > -1 ) { %>@import "generated/sprite-png"<% } %>
@import "main"