<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#fff">
	<link rel="stylesheet" media="all" href="css/style.css" >
	<script src="js/app.js"></script>
</head>
<body>
<!-- BEGIN  out-->
<div class="out">
	<i class="icon-sepa"></i>
	//=include partials/partial.html  
</div>
<!-- END out-->
</body>
</html>