{# Description no longer than 155 characters #}
<meta name="description" content="{{ description }}">
<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ twitter_summary }}">
<meta name="twitter:site" content="{{ twitter_publisher }}">
<meta name="twitter:title" content="{{ twitter_title }}">
<meta name="twitter:description" content="{{ twitter_description }}">
<meta name="twitter:creator" content="{{ twitter_author }}">
{# Twitter Summary card images must be at least 120x120px #}
<meta name="twitter:image" content="{{ twitter_image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:image" content="{{ og_image }}">
<meta property="og:description" content="{{ og_description }}">
<meta property="og:site_name" content="{{ og_sitename }}">
<meta property="fb:admins" content="{{ fb_admins }}">
